<div>
    <div class="mt-3">
        <span class="h3">Name: </span><span class="h3 fw-normal">{{userDetails.name}}</span>
    </div>
    <div class="mt-3">
        <span class="h3">Username: </span><span class="h3 fw-normal">{{userDetails.username}}</span>
    </div>
    <div class="mt-3">
        <span class="h3">Email: </span><span class="h3 fw-normal">{{userDetails.email}}</span>
    </div>
    <div class="mt-3">
        <span class="h3">Password: </span><span class="h3 fw-normal">{{userDetails.plainPassword}}</span>
    </div>
    <div class="mt-3">
        <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
</div>