<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="w-100">
  <!-- New Password -->
  <mat-form-field appearance="outline" class="w-100 mb-3">
    <mat-label>New Password</mat-label>
    <input matInput type="password" formControlName="password" placeholder="Enter new password">
    <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="passwordForm.get('password')?.hasError('minlength')">
      At least <strong>8 characters</strong> required
    </mat-error>
    <mat-error *ngIf="passwordForm.get('password')?.hasError('pattern')">
      Must contain <strong>uppercase, lowercase, number & special character</strong>
    </mat-error>
  </mat-form-field>

  <!-- Confirm Password -->
  <mat-form-field appearance="outline" class="w-100 mb-3">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm new password">
    <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">
      Confirm password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="passwordForm.errors?.['passwordMismatch'] && passwordForm.get('confirmPassword')?.touched">
      Passwords do <strong>not match</strong>
    </mat-error>

  </mat-form-field>

  <button mat-flat-button color="primary" type="submit" [disabled]="passwordForm.invalid">
    Update Password
  </button>
</form>