<div>
  <section class="row m-0">
    <div class="col-4">
      <mat-card class="p-3 text-center">
        <h6 class="fw-normal">Projects</h6>
        <h2>{{projectCount}}</h2>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="p-3 text-center">
        <h6 class="fw-normal">Bugs</h6>
        <h2>{{bugCount}}</h2>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="p-3 text-center">
        <h6 class="fw-normal">Users</h6>
        <h2>{{userCount}}</h2>
      </mat-card>
    </div>
  </section>

  <section class="mt-4">
    <table class="table table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Severity</th>
          <th scope="col">Status</th>
          <th scope="col">Project</th>
          <th scope="col">Reported By</th>
        </tr>
      </thead>
      <tbody *ngIf="bugDetails.length > 0">
        <tr *ngFor="let bug of bugDetails; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ bug.title }}</td>
          <td>{{ bug.description }}</td>
          <td>{{ bug.severity }}</td>
          <td>{{ bug.status }}</td>
          <td>{{ bug.project?.name || 'N/A' }}</td>
          <td>{{ bug.reportedBy?.name || 'N/A' }}</td>
        </tr>
      </tbody>
    </table>

  </section>
</div>