<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="forgot-form">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Enter your username" formControlName="username" required>
    <mat-error *ngIf="forgotForm.get('username')?.hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit" [disabled]="forgotForm.invalid">
    Send Reset Mail
  </button>
</form>